<section class="slab slab--hero">
  <div class="grid">
    <h1>CfA Rails AWS Starter</h1>

    <div class="grid__item width-one-half">
      <p>Welcome to the CfA Rails AWS Starter Application!</p>
    </div>
  </div>
</section>
